{% extends 'base.html' %}
{% block title %}All Movements{% endblock %}

{% block body %}
  <h1>All Movements</h1>

  <input type="text" id="userInput" class="form-control" onkeyup="handleInput()" placeholder="Search for movements">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for movement in movements %}
        <div class="col">
                <img class="img-fluid" alt="{{ movement.name}}" src="{{ movement.reference_image }}">
                  <h3>{{ movement.name }}</h3>
          </div>
        {% endfor %}
      </div>

  <form action="/api/select_sets_reps">   
    <input type="submit" value="Save Workout Movements" class="btn btn-primary">
 </form>

  <script src="/static/workout_movements.js"></script>
{% endblock %}

