{% extends 'base.html' %}
{% block title %}Pocket Personal Trainer{% endblock %}

{% block body %}
  <h1>Pocket Personal Trainer</h1>

  <form action="/signin" method="POST">
    <p>
      <input type="submit" value="Sign In" class="btn btn-primary">
    </p>
  </form>

  <h2>Create custom strength training programs without the costs.</h2>
  <h4>Hundreds of movements, tailored workouts, and more. </h4>

  <h5>Ready to train? Enter a username to create your account.</h5>
  <form action="/create_user" method="POST">
    <p>
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username">
    </p>

    <p>
      <label for="inputPassword5" class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </p>

    <p>
      <input type="submit" style="font-size:24px" value="Get Started" class="btn btn-primary">
    </p>
  </form>

{% endblock %}
