{% extends 'base.html' %}
{% block title %}Pocket Personal Trainer Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/all_movements">Log a Workout</a></li>
    <li><a href="/body_region">Create a Workout</a></li>
    <li><a href="/view_workouts">View Saved Workouts</a></li>
  </ul>

  <h2>Create an Account</h2>
  <form action="/create_user" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}
