{% extends 'base.html' %}
{% block title %}Pocket Personal Trainer{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="background-image">
  </div>
  <!-- <style>
    .background-image {
      background-image: url('/static/img/collage2.png');

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: grayscale(.6);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    </style> -->
  <div class="row justify-content-between">
    <div class="col-4">
      <h1>Pocket Personal Trainer</h1>
    </div>
    
    <div class="col-4">
      <form action="/signin" method="POST">
        <p>
          <input type="submit" value="Sign In" class="btn btn-primary">
        </p>
      </form>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <div class="row align-items-start">
    <div class="col-12">
      <div class="col">
        <h1 style="color:black">Create custom strength training programs without the costs.</h1>
        <br>
        <h4 style="color:black">Hundreds of movements, tailored workouts, and more. </h4>
        <br>
      
        <h5 style="color:black">Ready to train? Enter a username to create your account.</h5>
      </div>
    </div>
  </div>
  
  <div class="row align-items-start">
    <div class="col">
    </div>
    
    <div class="col">
      <form action="/create_user" method="POST">
        <label class="form-label"></label>
        <input type="text" class="form-control" name="username" placeholder="Username">

        <label for="inputPassword5" class="form-label"></label>
        <input type="password" class="form-control" name="password" placeholder="Password">
        
        <br>
        <p>
          <input type="submit" style="font-size:24px" value="Get Started" class="btn btn-primary">
        </p>
      </form>
    </div>

    <div class="col">
    </div>
  </div>
  
 </div>


{% endblock %}
