{% extends 'base.html' %}
{% block title %}Workout Movements{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <h1>Pocket Personal Trainer</h1>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <br>
  <br>

  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h2>Sets & Reps</h2>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% for workout_movement in workout_movements %}
      <div class="col movement">
        <img class="img-fluid" alt="{{ workout_movement.movement.name}}" src="{{ workout_movement.movement.reference_image }}">
        <p>{{ workout_movement.movement.name }}</p>
  
        
        <form class="get-sets row" data-id="{{ workout_movement.workout_movement_id }}">
          <label for="num-sets">
          </label>
          <div class="col-8">
            <select id="num-sets" class="form-select" name="num_sets">
              <option value="">
                Total sets</data></option>
              {% for n in range(2, 7) %}
                <option value="{{ n }}">{{ n }}</option>
              {% endfor %}            
            </select>
          </div>
          <div class="col-4">
            <input type="submit" value="Update" class="btn btn-primary">
          </div>
        </form>
        <br>

        <form class="get-reps row" data-id="{{ workout_movement.workout_movement_id }}">
          <label for="num-reps">
          </label>
          <div class="col-8">
            <select id="num-reps" class="form-select" name="num_reps">
              <option value="">
                Total reps</data></option>
              {% for n in range(1, 21) %}
                <option value="{{ n }}">{{ n }}</option>
              {% endfor %}            
            </select>
          </div>
          <div class="col-4">
            <input type="submit" value="Update" class="btn btn-primary">
          </div>
        </form>
        <br>
        <br>
      </div>
    {% endfor %}
  </div>
<br>
    
      <form action="/display_workout_movements">   
        <input type="submit" value="Save Sets and Repetitions" class="btn btn-primary">
     </form>
    
     <script src="/static/sets_reps.js"></script>

  <!-- <div class="row align-items-start">
    <div class="col-8">
      
    </div>

    <div class="col-4 text-start">
      <p>If your goal is strength or power, perform 3 to 5 sets of 2 to 6 
        reps per exercise. To build muscle, perform 3 to 4 sets of 6 to 12 reps. 
        If your goal is muscular endurance, perform 2 to 3 sets of 12 to 20 
        reps.
      </p>
    
      <p>Allow yourself just enough time to recover between sets to maintain a 
         high level of performance: 2 to 5 minutes for strength and power, 30 to 
         90 seconds for hypertrophy, and just 30 seconds for endurance.</p>
    </div>
  </div> -->

</div>

{% endblock %}