{% extends 'base.html' %}
{% block title %}Saved Workouts{% endblock %}

{% block body %}

<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <h1>Pocket Personal Trainer</h1>
    </div>
    <div class="col-8">
      <nav class="navbar navbar-expand-lg" style="background-color:antiquewhite">
        <div class="container-fluid">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/body_region">Create a New Workout</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar-brand nav-link" href="/view_workouts">View My Saved Workouts</a>
              </li>
            
              <li class="nav-item dropdown">
                <a class="navbar-brand nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Log An Old Workout
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/completed_movements">Log Completed Workout Movements</a></li>
                  <li><a class="dropdown-item" href="/delete_completed_movements">Clear Completed Workout Movements</a></li>

                </ul>
              </li>
            </ul>  

          </div>
        </div>
      </nav>
    </div>
  </div>

  <br>
  <br>

  

  <div class="row align-items-start">
      <div class="col-4">
        <h2>My Workouts</h2>
        {% for workout in workouts %}
            <p><a class="btn btn-primary" href="/display_workout/{{workout.workout_id}}">Workout {{loop.index}}</a></p>
        {% endfor %}
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
        <img class="img-fluid" src="/static/img/plates.jpg">
      </div>
  </div>
</div>

{% endblock %}